
body { 
	background:#C21F1F;
    background-image: url('https://i.imgur.com/BiSmXaq.png'), url('https://i.imgur.com/XHuy0NJ.png'), url('https://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}

h1 {
	color: gold;
	font-size: 4em;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .9), 0 0 3px rgba(5, 5, 5, .8);
}

p {
    color: gold;
    margin-top: 2%;
    font-size: 1.7em;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .9), 0 0 3px rgba(5, 5, 5, .8);
}

#textfield {
	margin-top: 5%;
	background-color: #3C8D0D;
	color: gold;
	border: none;
	border-radius: 5px;


	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

#answer {
	margin-top: 5%;
	margin: 0 auto; 
	background:#3C8D0D; 
	color:black;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: gold; 
	font-size: 2em;
	border: 1px solid #3C8D0D;
	border-radius: 5px;
	padding: 3%;
	width: 40%;

	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .9), 0 0 3px rgba(5, 5, 5, .8);
}


#nisseknap {
    display: inline-block;
    margin: 10px;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 20px 30px;
    background-color: #3C8D0D;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3C8D0D), to(#3C3D0D));
    background-image: -webkit-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -moz-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -o-linear-gradient(#3C8D0D, #3C3D0D);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    outline: none;

    font-size: 2em;
    color: gold;

    line-height: 1;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .4), 0 0 1px rgba(5, 5, 5, .8);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#nisseknap:hover {
    background-color: #3C6D0D;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

#nisseknap:active, #nisseknap:focus {
    -webkit-box-shadow:    0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    outline: none;
}

#nisseknap:active {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

#nisseknap:disabled {
    display: none;
}

#login {
    margin-top: 10%;
    z-index: 999999;
}

#login input {
    margin-bottom: 3%;
}

#error {
    color: white;
    margin-top: 5%;
}

#logud {
    display: inline-block;
    margin: 10px;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 20px 30px;
    z-index: 999999;
    background-color: #3C8D0D;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3C8D0D), to(#3C3D0D));
    background-image: -webkit-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -moz-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -o-linear-gradient(#3C8D0D, #3C3D0D);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #3C3D0D, 0 12px 10px rgba(0, 0, 0, .3);
    outline: none;

    font-size: 2em;
    color: gold;

    line-height: 1;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .4), 0 0 1px rgba(5, 5, 5, .8);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#snemand {
    width: 20%;
    position: relative;
    left: 20%;
    top: 100%;
}

#newPassword {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
    margin-top: 1%;
}

#passButton {
    display: inline-block;


    background-color: #3C8D0D;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3C8D0D), to(#3C3D0D));
    background-image: -webkit-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -moz-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -o-linear-gradient(#3C8D0D, #3C3D0D);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    box-shadow:    0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    outline: none;

    font-size: 1.2em;
    color: gold;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 40px;

    line-height: 1;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .4), 0 0 1px rgba(5, 5, 5, .8);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#passwordChanged {
    display: inline-block;
    margin-left: 2%; 
    color: white;
}

#wishlists {
  list-style-type: none;
  margin-bottom: 50px;
  width: 40%;
  margin: 0 auto;
}

#wishlists li {
  margin-top: 30px;
}

#wishlists a {
    margin-top: 4%;
    background-color: #3C8D0D;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3C8D0D), to(#3C3D0D));
    background-image: -webkit-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -moz-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -o-linear-gradient(#3C8D0D, #3C3D0D);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    box-shadow:    0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    outline: none;

    font-size: 1.2em;
    color: gold;
    padding: 15px;
    margin-bottom: 1%;

    line-height: 1;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .4), 0 0 1px rgba(5, 5, 5, .8);
}

#wishlist {
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
}

.disabled {
  opacity: 0.5;
}

#uploadButton {
    display: inline-block;
    margin-top: 2%;

    background-color: #3C8D0D;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3C8D0D), to(#3C3D0D));
    background-image: -webkit-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -moz-linear-gradient(#3C8D0D, #3C3D0D);
    background-image: -o-linear-gradient(#3C8D0D, #3C3D0D);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    box-shadow:    0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
    outline: none;

    font-size: 1.2em;
    color: gold;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 40px;

    line-height: 1;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .4), 0 0 1px rgba(5, 5, 5, .8);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}


.nostyle {
	color: gold;
	font-size: 4em;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .9), 0 0 3px rgba(5, 5, 5, .8);
    text-decoration: none;
}

#change {
  margin-top: 20px;
}

.list-group {
      margin-bottom: 0px; 
    }

@media only screen and (max-width : 480px) {
    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.5em;
    }

    #nisseknap {
        font-size: 1.2em;
        margin-bottom: 5%;
    }

    #logud {
        font-size: 1.2em;
    }

    #snemand {
        visibility: hidden;
    }

    #answer {
        font-size: 1.5em;
        margin-bottom: 15%;
        width: 80%;
    }

    #newPassword {
      margin-top: 2%;  
      width: 40%;
    }

    #logud {
        margin-top: 10%;
        margin-bottom: 5%;
    }
  
    #wishlists a {
        margin-top: 1%;
        background-color: #3C8D0D;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3C8D0D), to(#3C3D0D));
        background-image: -webkit-linear-gradient(#3C8D0D, #3C3D0D);
        background-image: -moz-linear-gradient(#3C8D0D, #3C3D0D);
        background-image: -o-linear-gradient(#3C8D0D, #3C3D0D);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow:    0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
        box-shadow:    0 4px 0 #3C3D0D, 0 8px 6px rgba(0, 0, 0, .3);
        outline: none;
        font-size: 1.2em;
        color: gold;
        padding: 15px;
        margin-bottom: 3%;

        line-height: 1;
        text-shadow: 0 -1px 1px rgba(255, 255, 255, .4), 0 0 1px rgba(5, 5, 5, .8);
    } 
  
    #wishlists {
      list-style-type: none;
      margin-bottom: 2%;
      width: 50%;
      margin: 0 auto;
    }
  
  .list-group {
      margin-bottom: 0px; 
    }
  
}
  


@media only screen and (max-width : 320px) {
    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    #nisseknap {
        font-size: 1em;
        margin-bottom: 10%;
    }

    #logud {
        font-size: 1em;
    }

    #snemand {
        visibility: hidden;
    }

    #answer {
        font-size: 1.5em;
        width: 80%;
        margin-bottom: 10%;
    }

    #newPassword {
        width: 40%;

    }

    #logud {
        margin-top: 10%;
        margin-bottom: 5%;
    }
  
    .list-group {
      margin-bottom: 0px; 
    }
} 



/*---- sne ----*/
@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #C21F1F }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #C21F1F;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #C21F1F }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #C21F1F;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #C21F1F }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #C21F1F;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #C21F1F }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #C21F1F;
    }
}

